@import 'blog_post_ids.css';

body {
  font: 14pt sans-serif;
}
.blog_box {
  border: 1px red solid;
}
.link {
  color: darkgoldenrod;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.5s;
}
.link:hover {
  opacity: 1;
}
.link:visited {
  color: rgb(232, 197, 121);
  opacity: 0.5;
}
