img {
  height: 400px;
  width: 400px;
}
<<<<<<< HEAD
.card-container {
  display: flex;
  justify-content: center;
=======
.feat-items {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(61, 57, 56);
>>>>>>> shopping_cart
}
.nested-content {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
<<<<<<< HEAD
  padding: 20px;
}
.feat-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
}
.feat-items {
  border-radius: 15px;
  box-shadow: 5px 5px 1px rgba(82, 67, 72, 0.414);
  transition: 0.5s;
}
.feat-items:hover {
  box-shadow: 10px 10px 2px rgba(82, 67, 72, 0.414);
=======
}
.feat-content {
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(61, 57, 56);
>>>>>>> shopping_cart
}
.content-title {
  display: flex;
  font-size: 30pt;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.box {
  background-color: lightslategray;
  border: 0.25em slategrey solid;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(61, 57, 56);
}
.sidebar-flex {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.links {
  color: darkgoldenrod;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.5s;
}
.links:hover {
  opacity: 1;
}
.links:visited {
  color: rgb(232, 197, 121);
  opacity: 0.5;
}
